@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* COLOR */
:root {
  --BGCOLOR: #fff;
  --PGCOLOR: #ff7b29;
  --H1COLOR: #020000;
  --H2COLOR: #2d3134;
  --PCOLOR: #676a6c;
}
body {
  background-color: var(--BGCOLOR);
}
/* JOINT */
.about-heading,
.h1-about {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 50px;
}
/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
}
.h1-about {
  text-align: center;
  color: var(--PGCOLOR);
  margin-top: 20px;
  margin-bottom: 3em;
}
.h2-about {
  color: var(--PGCOLOR);
  margin-bottom: 0.7em;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 30px;
}
.about-heading {
  color: var(--H2COLOR);
  margin-bottom: 1rem;
}
.about-p1 {
  color: var(--PCOLOR);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2em;
}
.sect2-about {
  max-inline-size: 100%;
  margin-top: 2em;
}
.guides-h1 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.guides-h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 20px;
}
.guides-article {
  display: flex;
  gap: 150.8px;
}
.guides-p1 {
  color: var(--PCOLOR);
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
}
.guides-img {
  margin-right: 3px;
}
.resources {
  margin-top: 3em;
}
