/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.header {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
}
#menu {
  padding-left: 9em;
}
.buttonlogo {
  display: flex;
  /* justify-content: flex-start; */
}
